# Maven build
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle (nếu có)
**/build/

# IntelliJ IDEA
.idea/
*.iml
# (nếu muốn share 1 vài cấu hình, bỏ comment các dòng dưới)
#!.idea/codeStyles/
#!.idea/runConfigurations/

# VS Code
.vscode/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IntelliJ output khác
out/

# OS
.DS_Store
